* { box-sizing: border-box; }

body, html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
	font-family: arial;
	background-color: slategray;
}

strong { color: #ff260a; }

.tablink {
    background-color: slategray;
    border-radius: 5px;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 50%;
}

.tablink:hover { background-color: orange; }

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    min-height: 100vh;
    text-align: center;
}

#Home, #Contact, #Projects {
	background-image: linear-gradient(#1a8cff, navy);
	font-size: 30px;
}

#name {
	text-align: center;
	font-size: 75px;
}

hr {
	color: white;
	margin-bottom: 20px;
	width: 75%;
}

#profile_pic {
	padding: 2px 2px;
	margin-top: 20px;
	margin-left: 250px;
	border-radius: 10px;
	border: 2px solid white;
}

#aboutme {
	float: right;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 10px;
	margin-right: 250px;
	margin-left: 0;
	width: 40%;
	text-align: left;
}

#contact {
	float: left;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 10px;
	margin-left: 250px;
	margin-right: 0;
	width: 73.5%;
	text-align: left;
}

footer {
	margin-top: 100vh;
	font-size: 12px;
	display: block;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}