* { box-sizing: border-box; }

body, html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: visible;
	font-family: arial;
	background-color: #a6a6a6;
}

.tablink {
    background-color: #a6a6a6;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 33.33%;
}

.tablink:hover {
    background-color: orange;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    min-height: 100vh;
    text-align: center;
}

#Home, #Contact, #Projects {
/*	background-color: #1a8cff;*/
	background-image: linear-gradient(#1a8cff, #0655a5);
	font-size: 30px;
}

#name {
	text-align: center;
	font-size: 75px;
}

hr {
	color: white;
	margin-bottom: 100px;
	width: 75%;
}

#profile_pic {
	padding: 10px 10px;
	border-radius: 75%;
	border: 2px solid white;
}

#aboutme {
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 100px;
	text-align: left;
}

footer {
	font-size: 12px;
	display: block;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}